
<div>
    <img style="border-radius: 30px; >  
</div>
<form asp-action="ChangePhoto" enctype="multipart/form-data">
    <input name="uploadImage" type="file" name="file" accept=".jpeg">
    <input class="button-Ok-Sign-Up" type="submit" asp-action="ChangePhoto" value="Change photo" />
</form>