@model DatingApp.Dal.Models.User
@{
    ViewData["Title"] = "Вход";
}
<div class="container">
    <div class="form-sign-in-container">
        <h2>Вход</h2>
        <form method="post">
            @{
                if (ViewBag.IsCorrectData == false && ViewBag.IsCorrectData != null)
                {
                    <div>
                        <label style="color: red; margin-bottom: 10px">Неверно введен логин или пароль</label>
                    </div>
                }
            }
            <div class="textbox">
                <div class="row">
                    <input asp-for="Login" type="text" name="Login" id="login-sign-in" class="textbox-google" required>
                    <span class="bar"></span>
                    <label class="text-label">Логин</label>
                </div>

                <div class="row">
                    <input asp-for="Password" type="password" name="password" id="password-sign-in" class="textbox-google"
                           required>
                    <span class="bar"></span>
                    <label class="text-label">Пароль</label>
                </div>
            </div>
            <div class="row-10">
                <input asp-action="Autorization" type="submit" class="button-Ok-Sign-In" value="Войти">
            </div>
            <div>
                <a asp-controller="Registration" asp-action="Index" class="ref-to-reg">Зарегистрироваться</a>
            </div>
        </form>
    </div>
</div>