@model DatingApp.Dal.Models.Photo

<div class="container">
    <div class="form-sign-in-container">
        <h2>Фото</h2>
        <form method="post">
            <div>
                <input name="photoId" value="@Model.Id" hidden />
                <img style="height: 300px; cursor: pointer" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))"
            </div>
            <div>
                <input asp-action="ProfilePhoto" type="submit" class="button-Ok-Sign-In" style="width: 300px;" value="Сделать фото профиля" />
                
            </div>
            
        </form>
        <div style="margin-top: 20px">
            <a class="button_exit" href='@Url.Action("DeletePhoto", new { photoId = Model.Id})'>Удалить фото</a>
        </div>
    </div>
</div>